html {
    font-family: Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
    tab-size: 4;
	-webkit-text-size-adjust: 100%;
}

*, *:before, *:after {box-sizing: inherit;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-border-opacity: 1;
    border-color: rgba(229,231,235,var(--tw-border-opacity));
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-blur: var(--tw-empty, );
    --tw-brightness: var(--tw-empty, );
    --tw-contrast: var(--tw-empty, );
    --tw-grayscale: var(--tw-empty, );
    --tw-hue-rotate: var(--tw-empty, );
    --tw-invert: var(--tw-empty, );
    --tw-saturate: var(--tw-empty, );
    --tw-sepia: var(--tw-empty, );
    --tw-drop-shadow: var(--tw-empty, );
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

body {
		background-color: #F7F7FC;
		font-family: inherit;
		line-height: inherit;
		    display: flex;
    flex-direction: column;
 }

.bg-background{
	    --tw-bg-opacity: 1;
    background-color: rgba(247,247,252,var(--tw-bg-opacity));
}
.overflow-x-hidden{
	overflow-x: hidden; 
}
.flex-col{
	flex-direction:column; 
	
}
.flex-grow {
    flex-grow: 1;
}

.page-body {
    padding: 2.5rem 1rem;
}
.page-body>.page-content {
    max-width: 1100px;
    margin: auto;
}

.box {
    border-radius: 16px;
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
    --tw-shadow: 0px 8px 16px rgba(17, 17, 17, .04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

.min-h-screen{
	min-height: 100vh;
}
.flex{
	display: flex;
}

/* H1, H2, H3, H4, H5, H6*/

.leading-\[48px\] {
    line-height: 48px;
}
.font-bold {
    font-weight: 700;
}
.text-\[32px\] {
    font-size: 32px;
}

/* small text */ 

img {
  max-width: 60%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

label{
	color: #000;
	text-align: left;
    cursor: default;
}

.box {
    border-radius: 16px;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,1);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}

input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: left;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    width: 100%;
}

.btn-primary {
    background-color: #f48320;
    border: 8px solid #FFECDC;
}

.btn {
    border-radius: 9999px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    min-width: 190px;
    text-align: center;
}

button {
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    margin: 0;
}
button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
}

button, [role=button] {
    cursor: pointer;
}

/* Three columns side by side */
.column {
	  margin: auto;
	  float: left;
	  margin-bottom: 16px;
	  margin-top: 16px;
      padding: 5px 5px 50px 50px;
}

.group {
	margin: auto;
	margin-top: 10px; /*use to be 100px */
	margin-bottom: 10px;
	width: 50%;
	max-width: 75%;
	padding: 10px;
	text-align:left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	background-color: white;
	border-radius: 30px;
	display:block;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.prose {
    color: #14142b;
    max-width: 65ch;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.mt-4 {
  float: left;
  width: 100%;
  max-width: 100%;
  margin-top: 6px;
  padding: 0.5px 0.5px 5px 0.5px;
}
.mt-8 {
    margin-top: 2rem;
}
.mt-6 {
    margin-top: 1.5rem;
}
.mt-2 {
    margin-top: .5rem;
}
.mt-12 {
    margin-top: 3rem;
}
.col-75 {
  float: center;
  width: 80%;
  max-width: 80%;
  margin-top: 6px;
  padding: 5px 10px 55px 55px;
}
.bg-sgi-morningdew {
    --tw-bg-opacity: 1;
    background-color: rgba(248,250,253);
}
.rounded-lg {
    border-radius: 16px;
}

.video-wrap {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
}
.pb-12 {
    padding-bottom: 3rem;
}

/* Color branding used */
.text-error {
    color: rgb(251,78,78);
    color: rgba(251,78,78,1);
}

.text-sgi-black {
    color: rgb(20,20,43);
    color: rgba(20,20,43,1);
}

.txt-sgi-blue{
	color: rgb(88,113,149);
    color: rgba(88,113,149,1);
}
.txt-sgi-orange{
	color: rgb(242,129,33);
    color: rgb(242,129,33,1);
}
.text-sgi-lightgray {
    color: rgb(134,134,154);
    color: rgba(134,134,154,1);
    float: left;
/*	text-align:left;*/
    width: 35%;
	padding: 15px 5px 0.5px 0.5px;
}

.text-sgi-darkergray {
    --tw-text-opacity: 1;
    color: rgba(78,75,102,var(--tw-text-opacity));
}

.text-sm {
    font-size: 15px;
    line-height: 20px;
}

@media (min-width: 480px)
.xs\:grid-cols-2 {
    grid-template-columns: repeat(2,minmax(0,1fr));
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.gap-8 {
    gap: 2rem;
}
.grid {
    display: grid;
}
/* Style inputs with type="text", select elements and textareas */
input[type = text], select, textarea {
  height: 40px;
  background-color: #F5F8FA;
  border: solid 2px #D5DEE8;
  width: 60%; 
  max-width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=text]:focus {
  border: 1px solid #14142B;
}

input[type=submit]{
  width: 90%;
  margin-top: 0;  
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, .mt-4, .group {
    width: 100%;
    margin-top: 0;
  }
}

/* Video -- */ 
.player {
    position: relative;
    max-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: auto;
    color: #fff;
    line-height: normal;
    font-family: "Helvetica Neue",Helvetica,Arial!important;
    font-size: 10px;
    overflow: visible;
    border-collapse: separate;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulate;
    touch-action: manipulate;
}

.player .invisible {
    opacity: 0;
}
.player .vp-video-wrapper.transparent {
    background-color: transparent;
}

.player .vp-video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    overflow: hidden;
}
.player .vp-video-wrapper .vp-preview {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
}
.player .vp-controls-wrapper, .player .vp-video-wrapper {
    opacity: 1;
    -webkit-transition: opacity 125ms ease-out;
    transition: opacity 125ms ease-out;
}
.player, .player *, .player ::after, .player ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.player, .player *, .player ::after, .player ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
.player .vp-video-wrapper .vp-telecine {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
}